body {
    color: #132B45;
    font-size: 16px;
    line-height: 1.6em;
    margin:0;
    padding:0;
    background: #DEE3E7 ;
}

.container{
  max-width:1240px; 
  margin:200px auto 0 auto;
  padding: 0;
  position: relative;
  clear: both;
  display: flow-root;
  text-align:center;
}
.home-intro{
text-align:center;
}
.home-intro img{
width:600px;
}

h1 {
    font-size:3rem;
    font-family: 'Urbanist','Helvetica', 'Arial', 'Sans-Serif';
    margin: 40px 0 20px 0;
    font-weight: 800;
    color: #132B45;
    letter-spacing: -2px;
}
h2 {
    font-size: 6.854rem;
    line-height: 7.6rem;
     font-family:'Urbanist','Helvetica', 'Arial', 'Sans-Serif';
    font-weight: 800;
    display: block;
    width: 100%;
     margin: 0 0 48px 0;
          color: #e4e6eb;
          letter-spacing: -2px;
          /*border-bottom: 1px solid #2a3042;*/
}





    @media only screen and (max-width: 960px) {

        body {
        background-size: 300%;
        background-position-x: center;
        }
        h1 {
            font-size: 3rem;
        }
    
        .container{
            max-width:80%; 
            margin:120px auto 0 auto;
            display: block;
            position: relative;
          }
      
          .about-intro {
            width:100%;
               margin-right: 120px;
             }
             .about-me {
               width: 100%;
               margin-top: 8px;
                }
          .container.narrow{
              max-width:80%; 
              margin:120px auto 0 auto;
              display: block;
            }
            .hero-image.lexus{
                background-position:-400px;
            }
            .hero-image.lfc{
                background-position: right;
            }

            .darkbg.thumbnail img, .darkbg.thumbnail-opta img{
                margin-top:0;
            }
            #case-study-summary{
                float:none;
                width:100%;
                padding-right:0;
            }
            
            #case-study-intro h2{
                font-size: 2.618rem;
            }
            #case-study-aims{
                float:left;
            width: 65%;
            }
            #case-study-deliverables{
                float:left;
            width:35%;
            }
            #case-study-meta{
                display:block;
                width: 100%;
                padding-bottom:4px;
            }
            .container.screenshot, .container.screenshots-alt{
                display: block;
            }
            .screenshot-info{
                float: none;
                width:100%;
                position: relative;
                margin:40px 0;
                height: auto;
            }
         
            .screenshots{
                float: none;
                width:100%;
               margin-left:0;
            }
            .hero-image {
                height: 320px;
            }
            .hero-image h2{
                font-size: 4.236rem;
                height: 350px;
                border-bottom: 0;
            }
           
            .next-project.efc{
                    background-position: 80%;
                }
            .next-project.avfc{
                    background-position: 80%;
                }
            .next-project.lfc{
                    background-position: 75%;
                }
            .next-project.playmaker{
                    background-position: 75%;
                }
                .next-project.lexus{
                    background-position: 65%;
                }
                .next-project.goape{
                    background-position: 75%;
                }
            .next-project p{
                    width: 330px;
                        }
            .responsive-views h2{
                font-size: 6.854rem;
            }
            .responsive-views h3{
                font-size: 1.618rem;

        }
        
        .row-of-screenshots{
            width: 80%;
            grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
            grid-gap: 3rem;
        }
        
  
        .more-my-projects p{
            display: none;
        }

        ul.more-my-projects h3{
            width: 80%;
        }

        .image-grid{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            max-width: 80%;
            margin: 56px auto 0 auto;
        }

            
    }





    @media screen and (max-width: 600px) {
       
        body {
            background-size: 1024px;
            background-position-x: center;
            overflow-x: hidden;
            }
       .home-intro img{
width:280px;
}
        .container{
            max-width:90%; 
            margin:80px auto 0 auto;
            display: block;
            position: relative;
          }
          .container.project-summary{
            margin:88px auto 0 auto;
          }
          .container.narrow{
              max-width:90%; 
              margin:80px auto 0 auto;
              display: block;
            }
            .container.key-projects{
                min-height: 820px;
              }
            .container.screenshot, .container.screenshots-alt{
                margin-top:80px;
                padding: 0;
            }
            .hero-image.lexus{
                background-position: -350px;
            }
            .hero-image.lfc{
                background-position: right;
            }
            .hero-image{
                background-attachment:inherit;
                height: 500px;
                position: relative;
                margin-top: 96px;
                }
            .hero-image h2 {
            width: 85%;
            margin: 0;
            font-size: 2.618rem;
            height: 850px;
            text-align: left;
             }
            h1 {
                font-size: 2rem;
                margin-top: 64px;
            }
           
            h3 {
                font-size: 2.618rem;
            }
            h3.center{
                font-size: 2.618rem;
            }
            ul li{
                font-size: 1rem;
            }
            p {
                font-size: 1rem;
            }
            #case-study-summary{
                float:none;
                width:100%;
                padding-right:0;
            }
            #case-study-intro h2{
                font-size: 1.618rem;
    line-height: 40px;
            }
            #case-study-aims{
                float:none;
            width: 100%;
            margin-top:40px;
            }
            #case-study-deliverables{
                float:none;
            width:100%;
            }
            #case-study-meta{
                display: block;
                width: 100%;
            }
      

            .screenshot-info-left{
                float: none;
               width:100%;
               position: relative;
               margin:40px 0;
               height: auto;
            }
            .screenshot-info-right{
                float: none;
                width: 100%;
                margin: 40px 0;
                position: relative;
                height: auto;
            }
            .screenshot-right{
                float: none;
                width:100%;
               margin-left:0;
            }
            .screenshot-left{
                float: none;
                width:100%;
               margin-right: 0;
            }
            section.project-list ul li a strong{
            font-size: 1.4em;
            line-height: 1.2em;
            }
            section.project-list ul li a span{
                right: 0;
                  font-size: 56px;
                  margin-top:-60px;
            }
            section.project-list ul li a{
                font-size: 1em;
                padding-right: 64px;
            }
            .next-project{
                height: 360px;
                padding-top: 24px;
            }
            .project-list .next-project .container{
                margin-left:16px;
            }
            .next-project a{
                width: auto;
                padding: 16px 24px; 
            }
            .next-project h2 span{
                font-size: 18px; 
                margin:0; 
                display: block; 
                font-weight: 800;
                text-transform: uppercase;
            }
            .next-project h2{
                font-size: 1rem; 
                margin:24px 0 8px 0;
            width:250px;
        
        }
            .next-project p{
        display: none;
            }
            .next-project.efc{
                background-position: 80%;
            }
            .next-project.avfc{
                background-position:77%;
            }
            .next-project.lfc{
                background-position: 77%;
            }
            .next-project.playmaker{
                background-position: 73%;
            }
            .next-project.goape{
                background-position: 75%;
            }
            .next-project.lexus{
                background-position: 63%;
            }
            .container.responsive-small-margin{
                
            }
            .responsive-views h2 {
                font-size: 2.618rem;
                margin: 0 auto;
                width: 70%;
            }
        .responsive-views h3{
            font-size: 1.618rem; 
    }

    .responsive-views{
        margin-top: 100px;
    }
    #client-list{
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
    .row-of-screenshots{
        width: 80%;
        margin:0 auto 0 auto;
        display: grid;
        padding: 0;
        grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
        grid-gap: 1.7rem;
    }



    section div.container.project-list .next-project{
        height: 300px;
        padding-top: 30px;
        padding-left:0;
        border-radius: 8px;
       
    }
    section div.container.project-list .next-project a{
        width: auto;
        padding: 16px 24px; 
    }
    section div.container.project-list .next-project h2 span{
        display: none;
    }
    section div.container.project-list .next-project h2{
        font-size: 2.618rem; 
    margin:0 0 8px 0;
width:300px;

}
section div.container.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80%, 1fr));
    grid-gap: 2rem;
    }




    section div.container.project-list .next-project.efc{
        background-position: 80%;
    }
    section div.container.project-list .next-project.avfc{
        background-position:77%;
    }
    section div.container.project-list .next-project.lfc{
        background-position: 77%;
    }
    section div.container.project-list .next-project.playmaker{
        background-position: 73%;
    }
    section div.container.project-list .next-project.goape{
        background-position: 75%;
    }
    section div.container.project-list .next-project.lexus{
        background-position: 63%;
    }
    .more-my-projects li a{
        padding: 56px 0;
    }
    .more-my-projects h3{
         color: #e4e6eb;
         font-size: 1.618rem;
         width: 80%;
    }
    .more-my-projects span.material-icons-outlined{
        color: #e4e6eb;
        text-align: right;
        width: 10%;
        padding-left: 0;
   }
   h2.latest-projects-title{
    font-size: 2.618rem;
    margin-bottom: 32px;
    padding: 0;
}
.about-intro h2{
    font-size: 2.618rem;
}
.about-intro h3{
    font-size: 1.618rem;

}
a.about-links{
    width: 100%; 
        color: #e4e6eb; 
        background:none; 
        font-size: .85em;
        font-weight: 800; 
        margin:0 auto 24px auto; 
        padding: 16px 24px; 
        border: 2px solid #e4e6eb; 
        border-radius: 100px;
        cursor: pointer;
        display: block;
        position: relative;
        text-align: center;
        font-family:'Urbanist','Helvetica', 'Arial', 'Sans-Serif';
        text-transform: uppercase;
}
a:hover.about-links{
    width: 300px; 
    color:#272727; 
    background:#e4e6eb; 
    border: 2px solid #e4e6eb; 
    text-decoration: none;
}
 .image-grid{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            max-width: 85%;
            margin: 56px auto 0 auto;
            grid-gap: 24px 24px; 
        }
        
      }